{
    "printWidth": 100,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "lf",
    "arrowParens": "always",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "options": {
                "parser": "typescript"
            }
        }
    ]
}